#sona{
    width:100%;
    margin-top:0%;
    font-size:30px;
}
#qwerty{
    padding:10px;
     font-size: 30px;
    background-color: white;
    color: deeppink;
    border-radius:20px;
    float: none;
}
#tavish{
font-size: 20px;

}
Canvas{
    border: aqua 5px solid;
    margin-top :150px;}
    